<div [routerLink]="['/poi', link]" class="relative w-60 h-40 cursor-pointer">
    <div class="text-white z-10 relative mt-14 ml-2 h-full">
        <p class="text-sm text-shadow-sm shadow-black font-['Urbanist'] font-bold">{{ title }}</p>
        <p class="text-xs text-shadow-sm shadow-black font-['Urbanist']">
            {{ description?.slice(0, 70) }}...
        </p>
        <p class="text-xs text-shadow-sm shadow-black font-['Urbanist'] font-bold">
            {{ infoPlus }}
        </p>
    </div>
    <img
        [ngSrc]="
            image ??
            'https://www.timographie360.fr/photos/realisations/principal/vignettes/visite-virtuelle-arc-triomphe_80.jpg'
        "
        alt="avatar"
        class="object-cover rounded-xl z-0"
        fill
        [loading]="'auto'"
        (load)="isLoadingImage = false"
        (error)="isLoadingImage = false"
    />
    <div class="spinner" *ngIf="isLoadingImage">Loading...</div>
</div>
