<div class="w-full">
    <div class="relative h-44 w-full">
        <div class="bg-[var(--primary)] w-full h-full"></div>
        <app-banner-user [banner]="banner"></app-banner-user>
    </div>
    <div class="pl-24 pr-24">
        <div class="flex flex-row">
            <app-user-info
                class="w-full"
                [profilPic]="profilPic"
                [nbrFriends]="nbrFriends"
                [nbrMonuments]="nbrMonuments"
                [user]="user"
            ></app-user-info>
        </div>
        <div class="mt-16 mb-14">
            <nav class="menu">
                <ul>
                    <li [class.active]="activeTab === 'posts'" (click)="setActiveTab('posts')">
                        Posts
                    </li>
                    <li [class.active]="activeTab === 'friends'" (click)="setActiveTab('friends')">
                        Amis
                    </li>
                </ul>
            </nav>
        </div>
        <div [ngSwitch]="activeTab">
            <ng-container *ngSwitchCase="'posts'">
                <app-user-posts [posts]="lastPosts"></app-user-posts>
            </ng-container>
            <ng-container *ngSwitchCase="'friends'">
                <app-user-friends [friends]="friends" />
            </ng-container>
        </div>
    </div>
</div>
