<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <img
            ngSrc="https://s3-alpha-sig.figma.com/img/6c5b/9775/4a93ca05d34c3f133fa250fc496e24df?Expires=1714953600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=gslmJAj06j~5MSsiqtlt~nwNojprLen89cOrJIsRW0~sZMjXMZ0TBACKyUOPbvuu014~MtVg7UU5X9Bd-TZ7ay7fKTCdw4T2S8R08XU4~PLH7R7WMwgySLfjgNh5bU4cRR~bUti77cyAxL-QaqaAEylOJfI39UA5AAZ5yvcpFdDIKARTWskTDl7d7ngNvTCACFj6hpxXToXK-mUiuJhlvPegkVyPL3soKmOwr914RXTv13u1SVonolB7pW4tIrzQZioHh52yI5A861ZhzFBJ5L-1UlebMN7BQdSz6KkX-3a8alZXgHF2cbfR1lL5Hba18DyO~WwpfoDTnx7pzxjzFA__"
            alt="Logo"
            height="40"
            width="40"
        />
    </ng-template>
    <ng-template pTemplate="end" [ngIf]="!isConnect">
        <button pButton type="button">S'inscrire</button>
    </ng-template>
</p-menubar>
