::ng-deep .p-menubar {
  border: none;
  border-radius: 0;
  background-color: transparent;
}

::ng-deep .test .p-menubar {
  background-color: var(--primary);
}

::ng-deep .p-menubar p-menubarsub {
  margin: auto;
}

::ng-deep p-menubar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

::ng-deep .p-menuitem {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

::ng-deep .p-menu-list {
  margin: 150px
}
::ng-deep .p-menubar-end {
  margin: 0
}

::ng-deep .p-menuitem-content {
  text-shadow: black 0 0 5px;
}

::ng-deep .p-menuitem-text {
  color: white !important;
}
