<p-menubar class="{{ showBackgroundColor ? 'test' : '' }}" [model]="items">
    <ng-template pTemplate="start">
        <img
            ngSrc="assets/logo/logo_tripmemories_header.png"
            [routerLink]="['/']"
            class="cursor-pointer ml-3"
            alt="Logo"
            height="50"
            width="260"
        />
    </ng-template>
    <ng-template pTemplate="end">
        <div class="flex justify-center items-center gap-6">
            <i
                *ngIf="!showSearchInput"
                class="pi pi-search cursor-pointer text-lg"
                (click)="toggleSearchInput()"
            ></i>
            <div *ngIf="showSearchInput" class="p-toolbar-group-center">
                <span class="p-input-icon-left">
                    <i (click)="searchCity()" class="pi pi-search cursor-pointer"></i>
                    <input
                        (keyup.enter)="searchCity()"
                        [(ngModel)]="search.input"
                        type="text"
                        pInputText
                        placeholder="Rechercher..."
                    />
                </span>
            </div>
            <button
                *ngIf="!auth.user?.access_token"
                class="bg-inherit text-white text-shadow-sm shadow-black border-none font-['Urbanist'] font-semibold"
                (click)="goTo('/register')"
                pButton
                type="button"
            >
                Créer un compte
            </button>
            <div
                *ngIf="auth.user?.access_token"
                [routerLink]="['/profil']"
                class="relative w-10 h-10 rounded-full border-4 border-white cursor-pointer"
            >
                <img
                    [ngSrc]="
                        auth.user?.avatar?.url ??
                        'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
                    "
                    alt="avatar"
                    class="object-cover rounded-full"
                    fill
                />
            </div>
            <button
                (click)="auth.user?.access_token ? disconnect() : goTo('/login')"
                pButton
                class="rounded-full font-['Urbanist'] font-semibold"
                type="button"
            >
                {{ auth.user?.access_token ? 'Se déconnecter' : 'Se connecter' }}
            </button>
        </div>
    </ng-template>
</p-menubar>
