<p-card
    [style]="{
        boxShadow: '0 4px 6px 0 rgba(0, 0, 0, 0.1)',
        borderRadius: '15px',
        border: '2px solid var(--border-grey)',
        width: '550px'
    }"
>
    <ng-template pTemplate="content">
        <div class="flex flex-row gap-8 items-center mb-4">
            <div class="relative w-44 h-20">
                <img
                    ngSrc="{{
                        friendRequest?.sender?.avatar?.url ??
                            'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
                    }}"
                    alt="avatar"
                    class="object-cover rounded-xl"
                    fill
                />
                <button
                    pButton
                    class="button-element-friend-request-card"
                    icon="pi pi-eye"
                    [routerLink]="['/user', friendRequest?.sender?.id]"
                    [rounded]="true"
                ></button>
            </div>
            <div class="flex flex-col">
                <span class="text-xl font-['Urbanist'] font-bold"
                    >{{ friendRequest?.sender?.firstname }}
                    {{ friendRequest?.sender?.lastname }}</span
                >
                <span class="text-sm text-gray-400 font-['Urbanist'] font-bold"
                    >&#64;{{ friendRequest?.sender?.username }}</span
                >
            </div>
            <button
                pButton
                [rounded]="true"
                [outlined]="true"
                size="small"
                icon="pi pi-times"
                class="button-element-friend-request-card-2"
                (click)="declineFriendRequest(friendRequest?.id)"
            ></button>
            <div class="h-10 rounded-full w-[1px] bg-gray-300"></div>
            <button
                pButton
                [rounded]="true"
                size="small"
                icon="pi pi-check"
                class="button-element-friend-request-card-2"
                (click)="acceptFriendRequest(friendRequest?.id)"
            ></button>
        </div>
        <span class="font-['Urbanist'] text-sm">Demande reçu le {{ receivedDate }}</span>
        <p-progressBar
            mode="indeterminate"
            *ngIf="isLoading"
            [style]="{ height: '6px', width: '100%' }"
        ></p-progressBar>
        <p-message
            *ngIf="message"
            class="self-center mt-6 font-['Urbanist']"
            severity="success"
            [text]="message"
        ></p-message>
        <p-message
            *ngIf="error"
            class="self-center mt-6 font-['Urbanist']"
            severity="error"
            text="Une erreur est survenue lors de l'ajout de l'ami."
        ></p-message>
    </ng-template>
</p-card>
