<div class="p-d-flex p-jc-center p-ai-center w-3/5 absolute top-1/2 -translate-y-1/2">
    <div class="p-card p-shadow-5 h-full w-3/5 m-auto">
        <div class="p-card-header p-text-center">
            <img
                (click)="goTo('/')"
                ngSrc="assets/logo/Logo_tripmemories.png"
                alt="tripmemories logo"
                class="cursor-pointer"
                width="250"
                height="250"
            />
        </div>
        <div class="p-card-body">
            <h3 class="p-text-center !text-4xl font-bold">Oups ! Un petit oubli ?</h3>
            <p class="p-text-center !text-xl">
                Entre ton adresse e-mail et on t’envoie un lien de récupération !
            </p>
            <form>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        type="email"
                        id="email"
                        name="email"
                        [(ngModel)]="resetPassword.email"
                        placeholder="Adresse e-mail"
                    />
                </div>
                <div class="p-field mt-12 p-mb-3">
                    <button
                        pButton
                        [disabled]="isLoading || !resetPassword.email"
                        (click)="resetPasswordAsks()"
                        label="Envoyer le lien de récupération"
                        class="p-button-primary p-button-block"
                    ></button>
                </div>
                <div class="p-field p-text-center">
                    <p class="text-center !text-lg font-semibold">
                        <a [routerLink]="['/login']">Se connecter</a>
                    </p>
                </div>
            </form>
            <p-progressBar
                mode="indeterminate"
                *ngIf="isLoading"
                [style]="{ height: '6px', width: '100%' }"
            ></p-progressBar>
            <p-message
                *ngIf="error"
                class="self-center mt-6"
                severity="error"
                text="L'adresse email saisie est manquante ou est incorrect dans son format"
            ></p-message>
            <p-message
                *ngIf="errorApi"
                class="self-center mt-6"
                severity="error"
                text="{{ errorApi }}"
            ></p-message>
        </div>
    </div>
</div>
