<p-card class="w-3/4">
    <p-header>
        <h1 class="text-3xl text-center pt-5">Réinitialisation de mot de passe</h1>
    </p-header>
    <form class="flex flex-col gap-6 p-10">
        <input pInputText type="email" placeholder="Email" />
        <button
            pButton
            [disabled]="isLoading"
            type="submit"
            (click)="resetPasswordAsks()"
            class="justify-center"
        >
            Réinitialiser mon mot de passe
        </button>
        <p-progressBar
            mode="indeterminate"
            [style]="{ height: '6px' }"
            *ngIf="isLoading"
        ></p-progressBar>
        <a [routerLink]="['/auth']" class="password-reset">Revenir à la connexion</a>
    </form>
</p-card>
