<p-panel [showHeader]="false">
    <div class="comment-container">
        <div class="comment-header">
            <p-avatar [image]="author?.avatar?.url"></p-avatar>
            <span class="comment-username">{{ author?.username }}</span>
        </div>
        <div class="comment-body">
            <p>
                {{ comment }}
            </p>
            <div class="comment-footer">
                <span class="comment-date">{{ date | timeAgo }}</span>
                <span class="comment-likes">{{ nbrLikes }} likes</span>
                <span *ngIf="isMyPost" (click)="deleteComment()" class="deletePost"
                    >Supprimer mon commentaire</span
                >
                <!--<p-button icon="pi pi-reply" label="Reply" class="p-button-text"></p-button>-->
            </div>
        </div>
        <i
            class="absolute cursor-pointer right-1 top-1/2 -translate-y-1/2 pi pi-heart{{
                isLiked ? '-fill' : ''
            }}"
            (click)="isLiked ? dislike() : like()"
            style="font-size: 1rem"
        ></i>
    </div>
</p-panel>
