<div class="p-d-flex p-jc-center p-ai-center h-full w-full mt-12">
    <div class="p-card p-shadow-5 h-full w-3/5 m-auto">
        <div class="p-card-header p-text-center">
            <img
                ngSrc="assets/logo/Logo_tripmemories.png"
                alt="tripmemories logo"
                width="250"
                height="250"
            />
        </div>
        <div class="p-card-body">
            <h3 class="p-text-center !text-3xl font-bold">Bon retour parmi nous !👋</h3>
            <p class="p-text-center !text-lg">Continue avec Google ou entre tes infos.</p>
            <div class="p-d-flex p-jc-center p-mb-3">
                <button
                    pButton
                    class="p-button-rounded p-button-secondary p-button-outlined"
                    icon="pi pi-google"
                    label="Continuer avec Google"
                ></button>
            </div>
            <hr />
            <form>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        id="usernameLogin"
                        placeholder="Nom d'utilisateur ou email"
                        name="username"
                        aria-describedby="username-help"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [(ngModel)]="user.username"
                    />
                </div>
                <!--                <div class="p-field p-mb-3">
                    <label for="password">Mot de passe</label>
                    <input pPassword id="password" toggleMask="true" placeholder="Mot de passe" />
                </div>-->
                <p-iconField iconPosition="right" class="mb-6 h-fit">
                    <p-inputIcon
                        class="cursor-pointer text-4xl"
                        (click)="hide = !hide"
                        [styleClass]="hide ? 'pi pi-eye' : 'pi pi-eye-slash'"
                    />
                    <input
                        pInputText
                        id="passwordLogin"
                        placeholder="Mot de passe"
                        name="password"
                        class="w-full"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [type]="hide ? 'password' : 'text'"
                        [(ngModel)]="user.password"
                    />
                </p-iconField>
                <div class="p-field-checkbox mt-10">
                    <p-checkbox inputId="remember" binary="true"></p-checkbox>
                    <label>Se souvenir de moi</label>
                    <a href="#" class="p-ml-2">Mot de passe oublié</a>
                </div>
                <div class="p-field p-mb-3">
                    <button
                        pButton
                        [disabled]="isLoading"
                        (click)="login()"
                        label="Se connecter"
                        class="p-button-primary p-button-block"
                    ></button>
                </div>
                <div class="p-field p-text-center">
                    <p>
                        Tu n’as pas encore de compte ?
                        <a [routerLink]="['/register']">Créer un compte</a>
                    </p>
                </div>
            </form>
            <p-progressBar
                mode="indeterminate"
                *ngIf="isLoading"
                [style]="{ height: '6px', width: '100%' }"
            ></p-progressBar>
            <p-message
                *ngIf="error"
                class="self-center mt-6"
                severity="error"
                text="Le nom d'utilisateur ou le mot de passe est incorrect. Veuillez réessayer."
            ></p-message>
        </div>
    </div>
</div>
