<div class="p-4 flex flex-row flex-wrap gap-12 justify-center">
    <ng-container *ngIf="friends && friends.length > 0; else noFriends">
        <div *ngFor="let friend of friends" class="mb-4 w-1/4">
            <app-friend-card (reload)="getFriends()" [user]="friend"></app-friend-card>
        </div>
    </ng-container>
    <ng-template #noFriends>
        <p class="text-center text-red-500">
            Vous n'avez pas d'amis 😥, Ajoutez en un en utilisant la fonction dédiée
        </p>
    </ng-template>
</div>
<p-paginator
    *ngIf="lastPage > 1"
    (onPageChange)="onPageChange($event)"
    [first]="firstPage"
    [rows]="meta.perPage"
    [totalRecords]="totalPages"
    [rowsPerPageOptions]="[10, 20, 30]"
/>
