<p-card>
    <p-header>
        <h1 class="pt-4 text-3xl text-center">Changement de mot de passe</h1>
    </p-header>
    <ng-template pTemplate="content">
        <form>
            <app-password-field [user]="user"></app-password-field>
            <span class="block text-[color:var(--error)] mt-4 text-center" *ngIf="error">
                {{ error }}
            </span>
            <span class="block text-[color:var(--success)] mt-4 text-center" *ngIf="ok">
                {{ ok }}
            </span>
        </form>
    </ng-template>
    <p-footer class="flex flex-col items-center gap-6">
        <button
            pButton
            [disabled]="isLoading"
            (click)="resetPassword()"
            class="text-white bg-[color:var(--primary)] w-1/2 justify-center"
        >
            Envoyer
        </button>
        <p-progressBar
            mode="indeterminate"
            [style]="{ height: '6px' }"
            *ngIf="isLoading"
        ></p-progressBar>
        <span (click)="redirect()" class="password-reset"> revenir à la page d'accueil </span>
    </p-footer>
</p-card>
