<div class="!mt-5 flex flex-col gap-5 items-center">
    <div class="profile-pic">
        <app-picture-server
            class="pic-server"
            [pictureServerUrl]="pictureURL ? pictureURL : profilPicOnServer"
        ></app-picture-server>
        <label class="-label" for="file">
            <p-inputIcon class="cursor-pointer text-4xl" [styleClass]="'pi pi-camera'" />
            <span>Changer ma photo de profil</span>
        </label>
        <input
            type="file"
            id="file"
            (change)="imgCompil.handleFileInput($event)"
            (input)="picture.picture = getValue($event)"
        />
    </div>
    <button
        pButton
        *ngIf="pictureURL"
        class="bg-[color:var(--success)] text-white w-full justify-center"
        (click)="submitFile()"
        [disabled]="!picture.picture || isLoading"
    >
        Enregistrer
    </button>
    <p-progressSpinner
        *ngIf="isLoading"
        styleClass="w-2rem h-2rem"
        ariaLabel="loading"
    ></p-progressSpinner>
    <span class="block text-[color:var(--error)] mt-2 text-base" *ngIf="error">{{ error }}</span>
    <span class="block text-[color:var(--success)] mt-2 text-base" *ngIf="ok">{{ ok }}</span>
</div>
