<div class="w-full mt-5" pInputText>
    <p-iconField iconPosition="right" class="mb-6 h-fit">
        <p-inputIcon
            class="cursor-pointer text-4xl"
            (click)="hide = !hide"
            [styleClass]="hide ? 'pi pi-eye' : 'pi pi-eye-slash'"
        />
        <input
            pInputText
            id="passwordLogin"
            placeholder="Mot de passe"
            name="password"
            class="w-full"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="user!.password"
        />
    </p-iconField>
</div>
<div class="w-full mt-5" pInputText>
    <p-iconField iconPosition="right" class="mb-6 h-fit">
        <p-inputIcon
            class="cursor-pointer text-4xl"
            (click)="hide2 = !hide2"
            [styleClass]="hide2 ? 'pi pi-eye' : 'pi pi-eye-slash'"
        />
        <input
            pInputText
            id="passwordLogin2"
            placeholder="Confirmation du mot de passe"
            name="password"
            class="w-full"
            [type]="hide2 ? 'password' : 'text'"
            [(ngModel)]="user!.checkPassword"
        />
    </p-iconField>
</div>
