<div class="p-8">
    <div class="p-toolbar-group-center text-center mt-20 mb-9">
        <span class="p-input-icon-right w-3/4">
            <input
                type="text"
                class="w-full rounded-full"
                pInputText
                [(ngModel)]="searchValue"
                placeholder="Cherche un lieu"
                (keyup.enter)="search()"
            />
            <i (click)="search()" class="pi pi-search cursor-pointer mr-4"></i>
        </span>
    </div>
    <div class="flex flex-col justify-center items-center">
        <div class="mb-8">
            <h1 class="text-5xl font-['Urbanist'] font-bold">Proche de vous</h1>
        </div>
        <div *ngFor="let post of posts" class="flex flex-row mb-10">
            <div class="w-[2px] rounded-full mr-4 bg-[var(--primary)]"></div>
            <div class="relative flex flex-row gap-8">
                <app-post-card-feed
                    class="z-20"
                    [post]="post"
                    [city]="post.poi?.city?.name"
                ></app-post-card-feed>
                <div class="w-52 absolute left-72 top-24 z-0 h-[2px] bg-[var(--primary)]"></div>
                <app-monument-card-feed
                    class="z-10"
                    [monument]="post.poi"
                    [city]="post.poi?.city?.name"
                ></app-monument-card-feed>
            </div>
        </div>
        <p-message
            *ngIf="isEnd"
            class="self-center mt-6 grid"
            severity="info"
            text="Vous êtes à la fin du trip ! 🎉"
        >
        </p-message>
    </div>
</div>
