::ng-deep .ui-card-shadow {
  transition: 0.3s;
  border-radius: 10px;
  overflow: hidden;
}

::ng-deep .p-card .p-card-body {
  padding: 0;
}

.ui-card-shadow img {
  border-radius: 10px 10px 0 0;
}

.ui-card-shadow h2, .ui-card-shadow h3 {
  margin: 0;
  padding: 0;
}

.ui-card-shadow .p-mb-3 {
  padding: 15px;
}

.ui-card-shadow .p-rating {
  vertical-align: middle;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  font-family: 'Urbanist', sans-serif;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5); /* Optionnel : pour un fond semi-transparent */
}

.spinner::before {
  content: "";
  border: 2px solid #f3f3f3;
  border-top: 2px solid var(--primary);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
