<div>
    <form>
        <div class="p-fluid flex flex-col gap-6">
            <div class="p-field p-grid">
                <div class="p-col-12 p-md-10">
                    <input id="password" type="password" pInputText placeholder="Nom" />
                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-12 p-md-10">
                    <input id="confirmPassword" type="password" pInputText placeholder="Nom" />
                </div>
            </div>

            <div class="p-field p-grid">
                <div class="p-col-12 p-md-2"></div>
                <div class="p-col-12 p-md-10">
                    <button
                        pButton
                        type="button"
                        label="Modifier le mot de passe"
                        class="p-button-primary"
                    ></button>
                </div>
            </div>
        </div>
    </form>
</div>
