<p-card
    [style]="{
        boxShadow: '0 4px 6px 0 rgba(0, 0, 0, 0.1)',
        borderRadius: '15px',
        width: 'fit-content'
    }"
>
    <ng-template pTemplate="content">
        <div class="flex flex-col justify-between items-center">
            <div class="relative w-36 h-20 mb-6">
                <img
                    ngSrc="{{
                        user?.avatar?.url ??
                            'https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png'
                    }}"
                    alt="avatar"
                    class="object-cover rounded"
                    fill
                />
                <button pButton class="button-element" icon="pi pi-eye" [rounded]="true"></button>
            </div>
            <div class="flex flex-row justify-around">
                <div class="flex flex-col mr-4">
                    <span class="text-xl text-['Urbanist'] font-bold"
                        >{{ user?.firstname }} {{ user?.lastname }}</span
                    >
                    <span class="text-md text-['Urbanist']">&#64;{{ user?.username }}</span>
                </div>
                <div>
                    <button
                        pButton
                        size="small"
                        [rounded]="true"
                        icon="pi pi-comment"
                        class="mr-2 button-element"
                    ></button>
                    <button
                        pButton
                        class="button-element"
                        [rounded]="true"
                        icon="pi pi-trash"
                        (click)="visible = true"
                    ></button>
                </div>
            </div>
        </div>
        <p-progressBar
            mode="indeterminate"
            *ngIf="isLoading"
            [style]="{ height: '6px', width: '100%' }"
        ></p-progressBar>
        <p-message
            *ngIf="message"
            class="self-center mt-6"
            severity="success"
            [text]="message"
        ></p-message>
        <p-message
            *ngIf="error"
            class="self-center mt-6"
            severity="error"
            text="Une erreur est survenue lors de l'ajout de l'ami."
        ></p-message>
    </ng-template>
</p-card>
<div class="card flex justify-content-center">
    <p-dialog
        header="Êtes-vous sûr de vouloir supprimer {{ user?.username }} en tant qu'ami ?"
        [modal]="true"
        [(visible)]="visible"
        [style]="{ width: '25rem' }"
    >
        <span class="p-text-secondary block mb-5"
            >L'action que vous compter faire est irréversible et ne peut être annulé</span
        >
        <div class="flex justify-content-end gap-2">
            <p-button label="Non" severity="secondary" (click)="visible = false" />
            <p-button label="Oui" (click)="deleteFriend(user?.id)" />
        </div>
        <p-progressBar
            mode="indeterminate"
            *ngIf="isLoading"
            [style]="{ height: '6px', width: '100%' }"
        ></p-progressBar>
    </p-dialog>
</div>
