@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:focus {
  box-shadow:none !important;
  -webkit-box-shadow:none !important;
  -moz-box-shadow:none !important;
}

:root {
  --primary: #4169E1;
  --secondary: #4F52BD;
  --border-grey: #EAEAEA;
  --accent: #ED6A5B;
  --error: #FF5252;
  --info: #2196F3;
  --success: #4CAF50;
  --warning: #FC9674;
  --disabled: #CECECE;
  --message:#EBEBEB;
  --myMessage:#AFF5FF
}

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}
